<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:3:traffic|Lane_up_condition_module</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:3:traffic</TD>
<TD >48</TD>
<TD >1</TD>
<TD >4</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:2:traffic|Lane_up_condition_module</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:2:traffic</TD>
<TD >48</TD>
<TD >1</TD>
<TD >4</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:1:traffic|Lane_up_condition_module</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:1:traffic</TD>
<TD >48</TD>
<TD >1</TD>
<TD >4</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:0:traffic|Lane_up_condition_module</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:0:traffic</TD>
<TD >48</TD>
<TD >1</TD>
<TD >4</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_check_loop:3:Data_check</TD>
<TD >24</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_check_loop:2:Data_check</TD>
<TD >24</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_check_loop:1:Data_check</TD>
<TD >24</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_check_loop:0:Data_check</TD>
<TD >24</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_gen_loop:3:Data_gen</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_gen_loop:2:Data_gen</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_gen_loop:1:Data_gen</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_gen_loop:0:Data_gen</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig|XCVR_Reconfig_3125_4ch_alt2gxb_reconfig_dgm_component|dprio|state_mc_decode|auto_generated</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig|XCVR_Reconfig_3125_4ch_alt2gxb_reconfig_dgm_component|dprio|state_mc_counter|auto_generated</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig|XCVR_Reconfig_3125_4ch_alt2gxb_reconfig_dgm_component|dprio|state_mc_cmpr|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig|XCVR_Reconfig_3125_4ch_alt2gxb_reconfig_dgm_component|dprio|rd_data_output_cmpr|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig|XCVR_Reconfig_3125_4ch_alt2gxb_reconfig_dgm_component|dprio|pre_amble_cmpr|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig|XCVR_Reconfig_3125_4ch_alt2gxb_reconfig_dgm_component|dprio</TD>
<TD >47</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >20</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig|XCVR_Reconfig_3125_4ch_alt2gxb_reconfig_dgm_component|calibration|alt_cal_mux_gen.testbus_mux|auto_generated</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig|XCVR_Reconfig_3125_4ch_alt2gxb_reconfig_dgm_component</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR_reconfig</TD>
<TD >18</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >5</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|XCVR_3125_4ch_alt4gxb_component</TD>
<TD >111</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >138</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR</TD>
<TD >111</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >138</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen</TD>
<TD >71</TD>
<TD >80</TD>
<TD >65</TD>
<TD >80</TD>
<TD >148</TD>
<TD >80</TD>
<TD >80</TD>
<TD >80</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
